.itemImage {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: hidden;
};
.cardContainer {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
};